{{< layout}}

{{$main-content}}
    <div class="column-full">
        <div class="flash-card">
        <header>
        <h1>Before you continue</h1>
        </header>

        <div class="grid-row">
            <div class="column-two-thirds">

              <p>It usually takes about 3 weeks to get your new passport. Use a different service if you <a href="/get-a-passport-urgently">need your passport urgently</a>.</p>

              <p>If you're applying for a child passport or for someone unable to make their own decisions, you need to <a href="https://passportapplication.service.gov.uk/ips-olc/">use a different service</a>.</p>

              <p>If your face has changed significantly due to an illness or accident, you need to <a href="https://passportapplication.service.gov.uk/ips-olc/">apply in a different way</a>.</p>

              <a href="/prototype_171127/filter-common" class="button">Continue</a><br>

            </div>
        </div>

        </div>
    </div>

{{/ main-content}}

{{/ layout}}
