{{< layout}}

{{$main-content}}
    <div class="column-full">
        <div class="flash-card">
        <header>
        <h1>Before you continue</h1>
        </header>

        <div class="grid-row">
            <div class="column-two-thirds">

              <p>It should take around 3 weeks to renew, replace or change a passport. If you're applying for a first UK passport, it should take around 6 weeks but it can take longer.</p>

              <p>Use a different service if you <a href="/get-a-passport-urgently">need a passport urgently</a>.</p>

              <h2>Applying for someone else</h2>
              <p>If you're applying for a child passport or for someone unable to make their own decisions, you need to <a href="https://passportapplication.service.gov.uk/ips-olc/">use a different service</a>.</p>

              <h2>Significant changes</h2>
              <p>If your face has changed because of an accident or an illness such as a stroke, you need to <a href="https://passportapplication.service.gov.uk/ips-olc/">apply in a different way</a>.</p>

              <a href="/prototype_171127/filter-common" class="button">Continue</a><br>

            </div>
        </div>

        </div>
    </div>

{{/ main-content}}

{{/ layout}}
