{{< layout}}

{{$pageTitle}}{{/pageTitle}}


{{$content}}

{{< hmpo-partials-form}}
{{$form}}

    <header class="update-notice">
      <h1><span class="icon-tick"></span> Payment complete</h1>
      <p>Your payment: £102.86, reference: IE19852</p>
      <p>Email confirmation sent to <strong>{{values.email}}</strong></p>
      <a href="" class="download">Download PDF receipt</a>
    </header>
<br>
<h2>Next steps</h2>
<p>We need further information from you to complete your application</p>
<a class="button" href="next-steps">Continue</a>
{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
