{{< layout}}

{{$pageTitle}}Your passport application{{/pageTitle}}


{{$content}}

    <header class="update-notice">
          <h1><span class="icon-tick"></span> Payment successful</h1>
          <p>Application reference: <strong>PEX 319 825 680X</strong></p>
          <!-- <p>Email confirmation sent to <strong>{{values.email}}</strong></p> -->
          <p>Your payment: £102.86, reference: IE19852</p>
          <a href="" class="download">Download PDF receipt</a>

    </header>
    <br>
    <h2>You still need to:</h2>
    <ul class="list-bullet">
      <li>ask someone has confirmed your identity</li>
      <li>you've sent back your old passport</li>
    </ul>
    <a href="/csig_171101/user/csig-requirements" class="button">Continue</a>
    <!-- <ol class="task-list">
            <li>
              <h2 class="task-list-section">
                <span class="task-list-section-number">1. </span> Your passport
              </h2>
              <ul class="task-list-items">
                <li class="task-list-item">
                  <a class="task-name" aria-describedby="eligibility-completed">
                    Upload your digital passport photo
                  </a>
                  <strong class="task-completed" id="eligibility-completed">Completed</strong>
                </li>
                <li class="task-list-item">
                  <a class="task-name"  aria-describedby="read-declaration-completed">
                    Complete application details
                  </a>
                  <strong class="task-completed" id="read-declaration-completed">Completed</strong>
                </li>
                <li class="task-list-item">
                  <a class="task-name"  aria-describedby="read-declaration-completed">
                  Submit and pay
                  </a>
                  <strong class="task-completed" id="read-declaration-completed">Completed</strong>
                </li>
              </ul>
            </li>
            <li>
              <h2 class="task-list-section">
                <span class="task-list-section-number">2. </span> Next steps
              </h2>
              <ul class="task-list-items">
                <li class="task-list-item">
                  <a class="task-name" href="#" aria-describedby="company-information-completed">
                    Confirm your identity
                  </a>
                  <!-- <strong class="task-to-do" id="company-information-completed">To do</strong> -->
                </li>
                <li class="task-list-item">
                  <a class="task-name" href="#" aria-describedby="contact-details-completed">
                    Send us your old passport
                  </a>
                  <!-- <strong class="task-to-do" id="contact-details-completed">To do</strong> -->
                </li>
              </ul>
            </li>
          </ol>


{{/content}}


{{/ layout}}
