{{< layout}}

{{$pageTitle}}{{/pageTitle}}


{{$content}}

{{< hmpo-partials-form}}
{{$form}}

    <header class="update-notice">
      <h1><span class="icon-tick"></span>Payment successful</h1>
          <p>You have paid £102.86. Your payment reference is IE19852.</p>
      <a href="" class="download">Download PDF receipt</a>
    </header>

<h2>What you need to do next</h2>
 <p>You need to ask someone to confirm your identity. This is because your passport is damaged.</p>


 <a class="button" href="next-steps">Continue</a>

{{/form}}
{{/ hmpo-partials-form}}


{{/content}}


{{/ layout}}
